{% extends 'PeekmoSfImmoBundle:Default:index.html.twig' %}

{% block body %}
    <section class="modal fade" id="mConnexion" ng-controller="Connexion">
        <section class="modal-dialog">
            <section class="modal-content">
                <article class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Connexion</h4>
                </article>
                <article class="modal-body center">
                    <form role="form">
                        <article class="form-group">
                            <input type="text" class="form-control input-lg" ng-model="logindata.email" name="email" placeholder="Adresse email"/><br/>
                            <input type="password" class="form-control input-lg" ng-model="logindata.password" name="password" placeholder="Mot de passe"/>
                        </article>
                    </form>
                </article>
                <article class="modal-footer">
                    <button class="btn btn-success btn-large" ng-click="login()">Se connecter</button>
                </article>
            </section>
        </section>
    </section>

    {% block content %}

    {% endblock %}

{% endblock %}