{% extends 'PeekmoSfImmoBundle:Admin:admin_base.html.twig' %}

{% block title %}{{ parent() }} - Logements{% endblock %}

{% block body %}
    <div id="wrapper" ng-controller="Logements">
        <div id="page-wrapper">
            tu ch
        </div>
    </div>
{% endblock %}